data_dir = "/var/lib/vector"

[api]
enabled = true
address = "0.0.0.0:8696"
playground = true

[sources.dummy]
type = "demo_logs"
format = "apache_common"
interval = 1

[sources.http]
type = "http_server"
address = "0.0.0.0:8686"

[sinks.stdout]
type = "console"
inputs = ["dummy", "http"]
encoding.codec = "json"